.form-container {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 600px;

    .grid-container {
        display: grid;
        gap: 1px 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "name" "desc" "duedate";
        
        .name { grid-area: name; }
    
        .desc { grid-area: desc; }
        
        .duedate { grid-area: duedate; }
    }
}